/* Global */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial;
}
img{
    max-width: 100%;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin-bottom: 10px;
}
/* Utilities */
.container{
    width: 80%;
    margin: 0 auto;
}
.btn{
    display: block;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
/* Header */
.site-header{
    background-image: url(img/header.jpg);
    height: 400px;
    background-size: cover;
    color: white;
}
.site-header a{
    color: white;
}
.bar-menu{
    display: flex;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}
/* About */
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-item{
    margin-right: 30px;
}
/* Main */
.main-container{
    display: flex;
    justify-content:left;
    margin-left: 40px;
}
.menu a{
       margin-right: 30px;
}
/* Houses */
.houses-container{
    margin: 0 10px;
    padding: 10px;
}
.houses-container-all{
    display: flex;
    justify-content: space-between;
}
.houses-item{
    background-color:#dedede;
    padding: 0;
}
.houses-item-text{
    padding: 20px;
}
.price{
    color: green;
}
.icon-container img{
    margin-right: 20px;
}
.icon-container{
    display:flex;
    margin: 40px;
}
.icons-list{
    display: flex;
    justify-content: space-between;
}