/* Tables */
table{
    background-color: gray;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 10px;
    text-align: center;
}
.error{
    background-color: rgb(250, 160, 160);
    color: rgb(130, 6, 6);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width:768px){
    .menu{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}